# Data Science Tools and Ecosystem

## Author
Vruta Gupte

**Objectives:**
- List popular languages for Data Science
- Create a markdown cell with a table of Data Science tools
- Create a markdown cell introducing arithmetic expression examples
- Create a code cell to multiply and add numbers
- Create a code cell to convert minutes to hours

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. scikit-learn
2. numpy
3. pandas

|Data Science Tools|
|-------------|
|Apache Spark|
|TensorFlow|
|Weka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335